<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8" />
    <title>Recuperação de Senha unNamed</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .divExterna {
            border-style: outset;
            border-radius: 15px;
            border-width: 2px;
            border-color: #a800ff;
            padding: 2%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            color: black;
        }
    </style>
</head>
<body>
    <div class="divExterna">
        <label style="font-size: 40pt;">unNamed</label>
        <br />
        <label style="font-size: 16pt;">Recuperação de Senha</label>
        <br />
        <br />
        <label>Um pedido de recuperação de senha foi enviar de unNamed para o usuario:</label>
        <br />
        <label><b>#Usuario#</b></label>
        <br />
        <label>Registrado no nome de:</label>
        <br />
        <label><b>#Nome#</b></label>
        <br />
        <label>a senha registrada para esse usuario é:</label>
        <br />
        <label><b>#Senha#</b></label>
    </div>
</body>
</html>